extends layout
block content
  div(class="container")
    div(class="row" id="containRow")
      div(class="col-lg-6", id="mainCol")
        form(action="/bookings",method="post")
          label(for="username")|Enter Name
            input(type="text", name="username", placeholder="John Doe")
          label(for="startTime")|Choose a start time
            input(type="text", id="startTime", name="startTime")
          br
          label(for="leaveTime")|Choose a leave time
            input(type="text", id="leaveTime", name="leaveTime")
          br
          input(type="submit", id="saveTime", value="Set Booking")
  script.
    flatpickr("#leaveTime",{
    enableTime: true,
    time_24hr:false,
    dateFormat: "m-d-Y h:i",
    onChange:function(instance){
      console.log(instance.value);
    }
    });

    flatpickr("#startTime",{
    enableTime: true,
    time_24hr:false,
    dateFormat: "m-d-Y h:i",
    onChange:function(instance){
      console.log(instance.ReturnValue);
    }
    });

