extends layout
block content
  div(class="container")
    div(class="row")
      div(class="col-lg-6", id="mainCol")
        form(action="/bookings",method="post")
          label(for="username")|Enter Name
            input(type="text", name="username", placeholder="John Doe")
          label(for="labDate")| Choose a date
            input(type="text", id="labDate", name="labDate")
          br
          label(for="startTime")|Choose a start time
            input(type="text", id="startTime", name="startTime")
          br
          label(for="leaveTime")|Choose a leave time
            input(type="text", id="leaveTime", name="leaveTime")
          br
          input(type="submit", id="saveTime", value="Set Booking")
  script.
     flatpickr("#labDate",{
    enableTime: false,
    dateFormat: "m-d-Y "
    });
    flatpickr("#leaveTime",{
    enableTime: true,
    noCalendar: true,
    dateFormat: "h:i K",
    
    });
    flatpickr("#startTime",{
    enableTime: true,
    noCalendar: true,
    dateFormat: "h:i K"
    });

