extends layout
block content
	div(class='container')
		table(id='tbl' style='border: white solid 2px; border-collapse:collapse;',name='regtable')
			tr(style='border: white solid 2px; border-collapse:collapse;')
				th#test| Name
				th| Date
				th| Start Time
				th| Stop Time

